.content-container{
    width: 100%;
}

.form-container{
    width: 50%;
    
    margin-top: 100px;
}

.input-field{
    height: 40px;
    width: 500px;
    margin: 5px;
    text-indent: 5px;
    border-radius: 0;
    font-size: 0.8em;
    outline: none;
    border: 2px solid var(--light-color);
}

.input-submit{
    max-width: 150px !important;
    border: none;
}
        










