*{
    margin: 0px;
    padding: 0px;

}

h1, h2, h3, h4, h5, h6, p, label{
    color: var(--foreground);
    font-family: 'Inter';
}

.error{
    color: #f00;
}

.hide{
    display: none !important;
}

.grid-col-4{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.align-center{
    align-items: center;
}

.justify-space-between{
    justify-content:space-between;
}

.justify-center{
    justify-content: center;
}

.justify-left{
    justify-content: left;
}

.justify-right{
    justify-content: right;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.thin{
    font-weight: 300 !important;
}

.bold{
    font-weight: 700 !important;
}

.no-decoration{
    text-decoration: none;
    color: var(--foreground);
}


:root{
    --foreground: #343131;
    --light-color: #D9D9D9;
}

.container{
    max-width: 70vw;

    display: flex;

    flex-direction: column;

    margin: 0 auto;
}

.inter{
    font-family: 'Inter';
}

.btn1{
    background-color: var(--foreground);
    color: #fff;
    font-family: 'Inter';
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btn1-hollow{
    background-color: var(--light-color);
    color: var(--foreground);
    font-family: 'Inter';
    border: 1px solid var(--foreground);
    border-radius: 5px;
    padding: 5px;
}



